@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --mobile:375px;
    --desktop:1440px;
    --primary-color1:hsl(14,45%,36%);
    --primary-color2:hsl(332,51%,32%);

    --secodary-color1:hsl(0,0%,100%);
    --secondary-color2:hsl(330, 100%, 98%);
    --secondary-color3:hsl(30, 54%, 90%);
    --secondary-color4:hsl(30, 18%, 87%);
    --secondary-color5:hsl(30, 10%, 34%);
    --secondary-color6:hsl(24, 5%, 18%);

    --para:16px;
}

body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Outfit', Courier, monospace;
    background-color: var(--secondary-color4);
    display: flex;
    justify-content: center;
    line-height: 1.75rem;
}

.mob{
    position: absolute;
    /* width: 50%; */
    display: none;;
}
.container{
    width:50%;
    /* height:70%; */
    
     /* width: 375px; */
    /* max-width: 375px; */
    border-radius: 1rem;
    align-items: center;
    background-color: var(--secodary-color1);
    margin:3rem 0;
    padding:1rem;
    
}

img.hero-img{
    width: 100%;
    border-radius: .5rem;
}

p{
    font-family: 'Outfit', Courier, monospace;
    font-size: var(--para);
    font-weight: 400;
}

h1,h2{
    font-family:'Young Serif', serif;
}
h2{
    color:var(--primary-color1);
    
    
}

.headline{
    color:var(--primary-color2);
    font-size: 1.5rem;
    font-weight: 600;
    /* padding-left:1rem; */
    /* background-color: var(--primary-color2); */
}
.head-line{
    /* background-color: var(--primary-color2); */
    background-color: hsl(332,51%,32%,0.1);
    padding: 1rem;
    border-radius: .5rem;
    
}

ul, ol {
   list-style-position:outside; 
   padding-inline-start: 20px;
   color:var(--primary-color1)
   
}


li span{
    color:black;
}

hr{
    height: 1px;
    border-style: inset;
    background-color: var(--secondary-color4);
}

table{
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: .75rem;
    /* width: 50%; */
    /* color:var(--secondary-color3); */
    border-bottom-width: 1px;
    border-bottom-style:  solid;
    border-bottom-color:  var(--secondary-color3);
}

tr td:nth-child(2){
    color:var(--primary-color1);
    font-weight: 600;
}
table tr:last-child td:nth-child(2), table tr:last-child td:nth-child(1){
    border-bottom:none;
}

/* mobile view */
@media only screen and (max-width: 400px) {
    .body{
        /* background: green; */
        width: 100%;
        background-color: white;
    }
    .mob{
        display: block;
    }
    .container{
        width: 92%;
        border-radius: unset;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1rem;
    }
    img.hero-img{
        border-radius: unset;
        /* width: -webkit-fill-available; */
    }

    
}